.App {
    text-align: center;
    --percent-color: 60%;
    background: linear-gradient(
        180deg,
        #fff 0%,
        theme("colors.primary") var(--percent-color)
    );
}

@media screen and (max-width: 1024px) {
    .App {
        --percent-color: 50%;
    }
}

@media screen and (max-width: 768px) {
    .App {
        --percent-color: 20%;
    }
}
